{%- comment -%}
Required variables: 
- group: 
Optional variables:
- columns: integer. Number of columns of cards. Up to 3.
{%- endcomment -%}

{% assign resources = site.data.show-resources | where: "group", include.group %}
{% if include.columns >= 2 %}
	{% assign columns = "col-md-6" %}
{% else %}
	{% assign include.columns = "col-xs-12" %}
{% endif %}

<div class="row">
{%- for file in resources -%}
<div class="{{ columns }} mb-3">
	<div class="card {% if file.description %}h-100{% endif %} border-nnt-{{ file.color | default: "purple" }}">
		<div class="card-header p-0 bg-nnt-{{ file.color | default: "purple"}}">
			{% assign btn_link = file.link %}
			{% assign btn_color = file.color %}
			{% capture btn_text %}{{ file.title }} ({{ file.file-type }}){% endcapture %}
			{% assign btn_filetype = file.file-type %}
			{% include button.html text=btn_text color=btn_color link=btn_link filetype=btn_filetype wide=true nogap=true %}
		</div>
		{% if file.description and file.description != empty %}
			<div class="card-body">
				{{ file.description | markdownify }} 
			</div>
		{% endif %}
	</div>
</div>
{%- endfor -%}
</div>