// Custom NT Styles 

// Generate colour and card classes 
@each $name, $color in $color-nnt {
  .nnt-#{$name} {
    color: $color; 
  }
  .bg-nnt-#{$name} {
    background-color: $color !important;
  }
  .border-nnt-#{$name} {
    border-color: $color;
  }
  .btn-nnt-#{$name} {
    border-color: $color;
    background-color: $color;
    &:hover {
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
    }
  }
}

// Could be DRY-er, but season names and colour names are not the same :( 
@each $season, $color in $color-seasons {
  .card-#{$season} {
    border-color: $color; 
    .reserve_button, .programme_button {
      border-color: $color;
      background-color: $color;
      &:hover {
        background-color: darken($color, 10%);
        border-color: darken($color, 10%);
      }
    }
  }
  span.season-#{$season} {
    text-decoration: underline;
    text-decoration-color: $color;
  }
}
.card-fringe .reserve_button, .card-stuff .reserve_button, .btn-nnt-orange { // Special case for readability 
  @extend .text-dark; 
}

.bg-body {
  background-color: $color-background;
}

a[class*='bg-nnt-orange']{
  color: map-get($color-nnt, "purple");
  &:hover {
    color: map-get($color-nnt, "purple-dark");
  }
}

// Navigation 
.nt-navbar {
  box-shadow: 0px 7px 7px 0 hsla(311, 73%, 3%, 0.3);
  z-index: 300;
}
.nt-navbar-nav li,
.toc-item { // Make nav lists appear like headers 
  font-family: $header-font-stack; 
  font-weight: 600; // Match History Site
}

.nt-navbar-nav .active {
  font-weight: 700; // More contrast then the colour change
}

.toc-item a.active { // Table of Contents highlighter
  border-right: 4px solid $color-nnt-orange;
  margin-left: -1rem;
}

.toc-column { // Don't float TOCs on mobile or tablet
  @media (max-width: map-get($grid-breakpoints, "lg")){
    position: relative !important;
  }
}

.btn {
  white-space: normal;
}

// Hero images
.banner {
  @media (min-width: map-get($grid-breakpoints, "md")){
    min-height: 250px;
  }
  position: relative;
  background: $color-background;
  // box-shadow: 0px 7px 7px 0 hsla(311, 73%, 3%, 0.3)
  // Box-shadow looks more artificial than as layer. Can be reinstated if this can be improved.
}
h1.banner-text {
  @include black-font-border;
  position: relative;
  z-index: 2;

  @media (max-width: map-get($grid-breakpoints, "lg")){
    line-height: 1.0;
    font-size: 2.75rem;
  }
}
.banner-image {
  background-size: cover;
  background-position: top;
  overflow: hidden;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;  
  width: 100%;
  height: 100%;
}

// Body images with Bootstrap
p img {
  @extend .img-fluid;
}

.content {
  > h1, [class*="col"] > h1 {
    border-left: 6px solid map-get($color-nnt, "purple");
    padding-left: 1rem;
  }
  > h2, [class*="col"] > h2 {
    border-left: 3px solid map-get($color-nnt, "orange");
    padding-left: 0.5rem;
  }
  table { // Make Markdown tables work with Bootstrap 
    @extend .table-responsive, .table-hover, .table, .table-striped, .table-sm;
  }
  ul, ol {
    margin-left: -1rem;
  }
}

hr {
  border-color: map-get($color-nnt, "purple-dark");
  &.small {
    max-width: 100px;
  }
  &.medium {
    max-width: 300px;
  }
}

// Typography

blockquote {
  margin-left: 1rem;
  border-left: 3px solid $color-grey;
  padding-left: 0.5rem;
  font-style: italic;
  font-size: 1.1rem;
}
.quote-source {
  text-align: right;
  @extend .text-muted;
  text-transform: none;
  &:before {
    content: "\2014 \00A0";
  }
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.bg-nnt-orange { 
  a {
    @extend .nnt-purple;
  } 
}

// Layout

// Components 
/// Cards 
.card-header {
  background: rgba($color-background, .2);
  border-bottom: none;
}
.nt-card {
  @extend .mb-3;
}


/// Table 
.content table th {
  border: none;
}

.stuff-buttons{
  margin-bottom: 1rem;
}

.spinner {
  border: 16px solid $color-nnt-purple;
  border-radius: 50%;
  border-top: 16px solid $color-nnt-orange;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}