--- 
layout: default 
--- 
<!-- For additional content before the shows list --> 
{{ content }}
<div id="mini_list" class="row">
</div>
<div id="whats-on">
</div>
<!-- The new Javascript bit --> 
<script>
  $( document ).ready(function() {
    $.getJSON("{{ page.shows_url }}").done(function(data){
      console.log(data);
      var the_shows = data.results;
      var this_week = ''; 
      var coming_soon = '';
      // Separate the shows 
      for (var i = 0; i < the_shows.length; i++) {
        if (the_shows[i].this_week == true) {
          this_week = this_week+the_shows[i];
        }
        else {
          coming_soon = coming_soon+the_shows[i];
        }
      }
      // To Do: split the `for` loop below to have two variables, `shows_this_week` and `shows_coming_soon` for displaying on the home page.

      var show_html = '';
      var mini_list_html = '';
      show_html = show_html + ('<div class="row">');
      for (var i = 0; i < the_shows.length; i++) {
        // Figure out how to display the date range
        var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        start_date = new Date(the_shows[i].start_date)
        end_date = new Date(the_shows[i].end_date)
        date_string = days[start_date.getDay()] + ' ' + start_date.getDate().toString() + ' ';
        if (start_date.getMonth() != end_date.getMonth()) {
          date_string = date_string + months[start_date.getMonth()] + ' ';
        };
        if (start_date.toString() != end_date.toString()){
          date_string = date_string + '- ' + days[end_date.getDay()] + ' ' + end_date.getDate().toString() + ' ';
        };
        date_string = date_string + months[end_date.getMonth()] + ', ' + end_date.getFullYear().toString();
        // Build the card, colours based on the season
        show_html = show_html + '<div class="col-md-6 mb-3"><div id="anchor_' + the_shows[i].id +'"  class="nt-card bg-body h-100 card-' +the_shows[i].category.slug + ' ';
        show_html = show_html + ('">')
        // Poster
        + '<div class="row"><div class="col-sm-4 pr-sm-0"><img class="img-fluid m-sm-1" width=100% src="'
        if (the_shows[i].small_poster == null) {
          the_shows[i].small_poster = "https://ticketing.newtheatre.org.uk/static/images/no_image.png"
        }
        show_html = show_html + the_shows[i].small_poster + '" />'

        if(the_shows[i].occurrence_set.length > 0 && the_shows[i].show_sold_out == false){
          show_html += '<a data-toggle="modal" data-target="#show_modal" id="'+the_shows[i].id+'" class="btn mt-3 reserve_button ';

          show_html = show_html + 
          'rounded-0 w-100 h3 d-none d-sm-block m-sm-1">Reserve tickets</a>'
        }
        else if (the_shows[i].show_sold_out == true){
          show_html += "<div class='col'><p class='text-muted small'><em>This show is fully reserved. A limited number of tickets may be available on the door.</em></p></div>"
        }

        show_html += '</div><div class="col-sm-8 pl-sm-1">'
        // Card title 
        + '<div class="card-header">'+
            '<h2>' + the_shows[i].name 
            // Dates
            + '<br /><small class="text-muted">';
            // If there is only one performance, display the time here.
            if (the_shows[i].occurrence_set.length == 1) {
              var time_string = the_shows[i].occurrence_set[0].time.slice(0, -3) //Remove the seconds, API time is 19:30:00
              show_html += time_string + ', ' 
            }
            show_html += date_string + '</small></h2>'
            // Season and Venue 
            + '<h5 class="text-muted">' + (the_shows[i].category.name) + ' | ' + the_shows[i].location + '</h5>';
            if (the_shows[i].runtime){
              show_html += '<h6 class="text-muted">' + the_shows[i].runtime + ' minutes, with'
              if (the_shows[i].interval_number > 0){
                show_html += ' ' + the_shows[i].interval_number
                if (the_shows[i].interval_number > 1){ show_html += ' intervals' }
                if (the_shows[i].interval_number == 1){ show_html += ' interval' }
              }
              else {
                show_html += 'out interval'
              }
              show_html += '</h6>';
            }
          show_html = show_html + '</div><div class="card-body">'
            // Description 
            + the_shows[i].long_markdown;

        if(the_shows[i].occurrence_set.length > 0){
          show_html += '<a data-toggle="modal" data-target="#show_modal" id="'+the_shows[i].id+'" class="btn mt-3 reserve_button ';
          if (the_shows[i].category.name == "Fringe") {
            show_html = show_html + 'btn-orange text-dark ';
          }
          else {
            show_html = show_html + 'btn-purple ';
          }
          show_html = show_html + 
          'rounded-0 w-100 h3 d-sm-none">Reserve tickets</a>';
        }
          // End card body 
        show_html += '</div>'
        // End column, row, card
        + '</div></div></div>'
        // End column
        + '</div>';
        if (i == 0) {
          mini_list_html += '<div class="col-md-6"><h2>' + date_string + '</h2><table class="table table-responsive table-borderless table-sm">'
        }
        else if (the_shows[i - 1].end_date != the_shows[i].end_date) {
          mini_list_html += '</table></div><div class="col-md-6"><h2>' + date_string + '</h2><table class="table table-responsive table-borderless table-sm">'
        }
        mini_list_html += '<tr><td>' + time_string + '</td><td><a href="#anchor_' + the_shows[i].id + '"><strong>' + the_shows[i].name + '</strong></a> <br /><em>' + the_shows[i].location + '</em></td></tr>'
      }

      mini_list_html += '</table></div>';
      show_html = show_html + '</div>'; // End row 
      document.getElementById('whats-on').innerHTML = show_html;
      {% if page.mini_list %}
        document.getElementById('mini_list').innerHTML = mini_list_html;
      {% endif %}

      $('a.reserve_button').click(function(event) {
        document.getElementById('show_modal_iframe').src = ("https://ticketing.newtheatre.org.uk/book/"+this.id);
      });
    }).fail(function(){
      document.getElementById('whats-on').innerHTML = "Unable to load shows";
    });
  });
</script>

<div class="modal fade" id="show_modal" tabindex="-1" role="dialog" aria-labelledby="Reserve Tickets" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="show_modal_title">Reserve Tickets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <iframe id="show_modal_iframe" src="about:blank" style="height:408px"></iframe>
    </div>
  </div>
</div>
